@{
    ViewBag.Title = "Erro!";
}


<div class="container-flex">
    <h1>LOGIN INVÁLIDO!</h1>
</div>

<style>
    .container-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
