@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ecommerce Trabalho</h1>
    <p class="lead">Bem vindo à nossa aplicação e boas compras!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p>
            Veja aqui os produtos disponíveis na nossa loja, o envio é imediato!!
        </p>
        <p><a class="btn btn-default" href="/Produtos/Index">Ver mais &raquo;</a></p>
    </div>
    @if (Context.Session["clienteCPF"] != null)
    {
        <div class="col-md-4">
            <h2>Cartões</h2>
            <p>Cadastre e monitore aqui seus cartões para comprar com um clique apenas depois!</p>
            <p><a class="btn btn-default" href="/Cartoes/Index">Meus cartões &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Veja suas compras passadas</h2>
            <p>Aqui você pode ver fácilmente seu histórico de compras com o estado de cada compra, fique sempre informado!</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver mais &raquo;</a></p>
        </div>
    }
</div>